span{
    
width: 44px;
height: 24px;
text-decoration-line: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */

color: #4D5AE5;

}
.menu__logo{
    width: 71px;
height: 24px;
text-decoration-line: none;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* NAVY BLUE */

color: #2E2F42;

}
.links__studio{
    width: 48px;
height: 24px;
text-decoration-line: none;

/* Body Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.links__portfolio{
    width: 48px;
height: 24px;
text-decoration-line: none;
/* Body Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.links__contacts{
    width: 67px;
height: 24px;
text-decoration-line: none;
/* Body Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.addresss__gmail{
    width: 153px;
height: 24px;
left: 940px;
top: 24px;
text-decoration-line: none;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;

}
.addresss__telefon{
    width: 151px;
height: 24px;
left: 1133px;
top: 24px;
text-decoration-line: none;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;

}
.section1__title{
    width: 494px;
height: 120px;
left: 473px;
top: 260px;

/* Header 1 */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;

}
.section1{
    width: 1440px;
height: 600px;
left: 0px;
top: 72px;

/* NAVY BLUE */

background: #2E2F42;
}
.section1__button{

    width: 105px;
    height: 24px;
    
    /* Button Text */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 169px;
height: 56px;
left: 636px;
top: 428px;

/* IRIS */

background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 169px;
height: 56px;
left: 636px;
top: 428px;

/* IRIS */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

}
.section2__title{

}
.feature1__title{
    width: 264px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.feature1__text{
    width: 264px;
height: 72px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.feature2__title{
    width: 264px;
height: 24px;
/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.feature2__text{
    width: 264px;
height: 72px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.feature3__title{
    width: 264px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.feature3__text{
    width: 264px;
height: 72px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.feature4__title{
    width: 264px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.feature4__text{
    width: 264px;
height: 72px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.section3__title{
    width: 323px;
height: 40px;
left: 559px;
top: 1016px;

/* Header 2 */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* NAVY BLUE */

color: #2E2F42;
}
.links{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.addresss{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.feature{
    list-style-type: none;
}
.photo{
    list-style-type: none;
}
.mobile-phones71__1{
    box-sizing: border-box;

width: 360px;
height: 300px;

background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
background-blend-mode: soft-light, normal;
/* CORNFLOWER */

border: 1px solid #E7E9FC;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0
}
.computer71__2{
    box-sizing: border-box;

width: 360px;
height: 300px;

background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2225.jpg);
background-blend-mode: soft-light, normal;
/* CORNFLOWER */

border: 1px solid #E7E9FC;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.mobile71__3{
    box-sizing: border-box;

width: 360px;
height: 300px;

background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(photo-1545235617-7a424c1a60cc.jpg);
background-blend-mode: soft-light, normal;
/* CORNFLOWER */

border: 1px solid #E7E9FC;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.section4__title{
    width: 162px;
height: 40px;
left: 639px;
top: 1668px;

/* Header 2 */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* NAVY BLUE */

color: #2E2F42;
}
.team{
    list-style-type: none;
}
.person1__photo{
    width: 264px;
height: 260px;

background: url(man-with-laptop-presenting-something.jpg);
mix-blend-mode: normal;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}
.person1__title{
    width: 134px;
    height: 24px;
    
    /* Header 3 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    text-align: center;
    letter-spacing: 0.02em;
    
    /* NAVY BLUE */
    
    color: #2E2F42;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.person1__text{
    width: 128px;
    height: 24px;
    
    /* Body */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    text-align: center;
    letter-spacing: 0.02em;
    
    /* SLATE */
    
    color: #434455;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.person2__photo{
    
width: 264px;
height: 260px;

background: url(img-2.jpg);
mix-blend-mode: normal;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.person2__title{
    width: 88px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.person2__text{
    width: 144px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.person3__photo{
    width: 264px;
height: 260px;

background: url(young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair);
mix-blend-mode: normal;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.person3__title{
    width: 130px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.person3__text{
    
    width: 75px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.person4__photo{
    width: 264px;
height: 260px;

background: url(confident-handsome-guy-posing-against-white-wall.jpg);
mix-blend-mode: normal;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.person4__title{
    width: 127px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.person4__text{
    width: 85px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.footer__title{
    width: 44px;
height: 22px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */

color: #4D5AE5;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.footer__text{
    width: 264px;
height: 72px;
left: 156px;
top: 2418px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* CORNFLOWER */

color: #E7E9FC;

}
.header-web{
    width: 1440px;
height: 72px;
left: 0px;
top: 0px;
align-items: center;
background: #FFFFFF;
/* CORNFLOWER */
box-sizing: border-box;
border-bottom: 1px solid #E7E9FC;
display: flex;
}
.adress{
    align-items: center;
    display: flex;
}
.menu{
    align-items: center;
    display: flex;
}
.section11__button1{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;

width: 69px;
height: 48px;

/* OCEAN */
background: #F4F4FD;
/* CORNFLOWER */

border: 1px solid #E7E9FC;
border-radius: 4px;
flex: none;
order: 0;
flex-grow: 0;
}
.section11__button2{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;

width: 116px;
height: 48px;

/* CLOUD */

background: #F4F4FD;
/* CORNFLOWER */

border: 1px solid #E7E9FC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.section11__button3{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;

width: 78px;
height: 48px;

/* CLOUD */

background: #F4F4FD;
/* CORNFLOWER */

border: 1px solid #E7E9FC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.section11__button4{
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    
    width: 101px;
    height: 48px;
    
    /* CLOUD */
    
    background: #F4F4FD;
    /* CORNFLOWER */
    
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 3;
    flex-grow: 0;
}
.section11__button5{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;

width: 126px;
height: 48px;

/* CLOUD */

background: #F4F4FD;
/* CORNFLOWER */

border: 1px solid #E7E9FC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;
}
.papka1__app{
    width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(4074365);
background-blend-mode: soft-light, normal;
mix-blend-mode: normal
}
.papka1__title{
    width: 290px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.papka1__text{
    width: 30px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.papka2__pay{
    width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(4);
background-blend-mode: soft-light, normal;
mix-blend-mode: normal;
}
.papka2__title{
    width: 172px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.papka2__text{
    width: 75px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.papka3__notebook{
    width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(tp238-pf-s73-05-mockup);
mix-blend-mode: normal;
}
.papka3__title{
    width: 135px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.papka3__text{
    width: 30px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.papka4__taxi{
    width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(female-taxi-driver-paying-attention-road);
background-blend-mode: soft-light, normal;
}
.papka4__title{
    width: 113px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.papka4__text{
    width: 75px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.papka5__screen{
    width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2105.w026.n002.440B.p0.440);
background-blend-mode: soft-light, normal;
mix-blend-mode: normal;
}
.papka5__title{
    width: 181px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.papka5__text{
    width: 51px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.papka6__woman{
    width: 360px;
    height: 300px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(charming-short-haired-lady-gray-hat-standing-beside-wall-with-smartphone);
    background-blend-mode: soft-light, normal;
    mix-blend-mode: normal;
}
.papka6__title{
    width: 142px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.papka6__text{
    width: 75px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.papka7__stories{
    width: 360px;
    height: 300px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(6418424.jpg);
    background-blend-mode: soft-light, normal;
}
.papka7__title{
    width: 249px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.papka7__text{
    width: 51px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.papka8__food{
    width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(pexels-photo-7262897);
background-blend-mode: soft-light, normal;
mix-blend-mode: normal;
}
.papka8__title{
    width: 124px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.papka8__text{
    width: 65px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.papka9__coffee{
    width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(pexels-chevanon-photography-302897);
background-blend-mode: soft-light, normal;
mix-blend-mode: normal;
}
.papka9__title{
    width: 119px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;
flex: none;
order: 0;
flex-grow: 0;
}
.papka9__text{
    width: 65px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}